 <!-- <a routerLink="SportsAuction" class="nav-link" routerLinkActive="active">
    <h1>Sports Auction</h1>
  </a> -->
<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


    <label for="user-name">UserName: </label>
    <input id="user-name" type="text" formControlName="UserName">

    <label for="age">Age: </label>
    <input (keypress)="numberOnly($event)" type="text" placeholder="Only Numbers" formControlName="Age">

    <label for="gender">Gender:</label>
    <input id="male" type="radio" value="male" name="Gender" formControlName="Gender">
    <label for="male">Male</label>
    <input id="female" type="radio" value="female" name="Gender" formControlName="Gender">
    <label for="female">Female</label>
    <div *ngIf="f.Gender.touched && f.Gender.invalid" class="alert alert-danger">
        <div *ngIf="f.Gender.errors?.required">Name is required.</div>
    </div>





    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form> -->










<h1>Pavan Kumar</h1>