<div class="container">
    <h1>Login Form</h1><br>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" ngModel name="emailId" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" ngModel name="password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>