<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-body">
          <img class="card-img-top"
            src="https://us.123rf.com/450wm/lumyaisweet/lumyaisweet1906/lumyaisweet190600046/126642595-man-holding-soccer-football-player-on-white-background-sportsman-standing-vector-illustration-.jpg?ver=6"
            alt="Create Player" style="width: 100%; height: 100%;">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-danger" routerLink="/CreatePlayer" routerLinkActive="active">Create
              Player</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-body">
          <img class="card-img-top" src="https://www.rrrgroup.in/assets/images/best-real-estate-company.jpg"
            alt="Create Team" style="width: 100%; height: 300px;">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-danger" routerLink="/CreateTeam" routerLinkActive="active">Create
              Team</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-body">
          <img class="card-img-top"
            src="https://static.vecteezy.com/system/resources/previews/003/192/564/non_2x/black-boy-playing-football-kids-outdoor-activity-vector.jpg"
            alt="Show Player" style="width: 100%; height: 300px;">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-danger" routerLink="/ShowPlayer" routerLinkActive="active">Show
              Player</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-success">
        <div class="card-body">
          <img class="card-img-top"
            src="https://thumbs.dreamstime.com/b/soccer-team-squad-players-illustration-blue-kit-185428439.jpg"
            alt="Show Team" style="width: 100%; height: 300px;">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-danger" routerLink="/ShowTeam" routerLinkActive="active">Show
              Team</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
